<!DOCTYPE html>
<html>

<head>
    <!-- Page title dynamically rendered from the server -->
    <title><%= title %></title>
    <!-- Main custom stylesheet -->
    <link rel='stylesheet' href='/Content/app.css' />
    <!-- Bootstrap CSS for responsive layout and styling -->
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
    <!-- Font Awesome for icons -->
    <link rel="stylesheet" href="/@fortawesome/fontawesome-free/css/all.min.css">
    <script src = "/Script/app.js"></script>
    <script src="/jquery/dist/jquery.min.js"></script>
    <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
</head>

<body>