<%- include('../partials/header.ejs') %>
<%- include('../partials/navbar.ejs') %>

<div class="container">
  <h1>Register</h1>

    <% if (message.length > 0) { %>
        <div class="alert alert-danger"><%= message %></div>
    <% } %>
    <form action="/register" method="POST">
        <fieldset class="form-group">
            <label for="fullname">Full Name:</label>
            <input type="text" name="fullname" id="fullname" class="form-control" required>
        </fieldset>

        <fieldset class="form-group">
            <label for="email">Email:</label>
            <input type="email" name="email" id="email" class="form-control" required>
        </fieldset>

        <fieldset class="form-group">
            <label for="password">Password:</label>
            <input type="password" name="password" id="password" class="form-control" required>
        </fieldset>

        <fieldset class="form-group">
            <label for="confirmPassword">Confirm Password:</label>
            <input type="password" name="confirmPassword" id="confirmPassword" class="form-control" required>
        </fieldset>

        <fieldset>
            <input type="submit" class="btn btn-success" value="Login">
            <a href="/"></a>
            <input type="button" class="btn btn-warning" value="Cancel">
            <a href="/"></a>
        </fieldset>
    </form>

  <p>Already have an account? <a href="/login">Login here</a></p>
</div>

<%- include('../partials/footer.ejs') %>